@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box; /* Also adding box-sizing for better layout control */
}

body {
  background-color: #121212; /* Dark background */
  color: #fff; /* White text */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.instruction-text {
  font-size: 9px;
  text-align: center;
  color: gray;
  margin-left: 180px;
  margin-bottom: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  padding: 10px;
  margin-bottom: 1px;
  margin-left: 170px;
}

.input-label {
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.label {
  width: 170px;
  margin-right: 10px;
  white-space: nowrap;
}

.digital-signal,
.row {
  display: flex;
  align-items: center;
}

.input-data {
  display: flex;
  justify-content: flex-start;
}

.digit-box {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background-color: #000;
}

.digit-box:hover {
  background-color: #333;
}

.slider {
  width: 100px;
  margin: 0 10px; /* Adjust margin */
  background-color: #444;
  border-radius: 5px;
  appearance: none;
  height: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider::-webkit-slider-thumb:hover {
  background-color: #ccc;
}

.randomize-btn {
  padding: 5px 15px; /* Smaller button size */
  background-color: #444;
  border: 2px solid #fff;
  color: #fff;
  font-size: 10px; /* Smaller font size */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.randomize-btn:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

/* Layout for rows and columns */
.row {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  width: 100%;
}

.component {
  display: flex;
  text-align: left;
}

/* Styling for the signal container */

.signal-container {
  display: flex;
  justify-content: flex-end; /* Align all blocks to the right */
  flex-wrap: nowrap; /* Prevent wrapping */
  width: 100%; /* Optional: Set based on container requirements */
}

.block {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  margin-left: auto;
}

.highlight-left {
  border-left: 3px solid #fff;
}

.highlight-right {
  border-right: 3px solid #fff;
}

.highlight-top {
  border-top: 3px solid #fff;
}

.highlight-bottom {
  border-bottom: 3px solid #fff;
}
